# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
*.env

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Flask
instance/
*.db

# Unit test / coverage
htmlcov/
.coverage
*.cover
.pytest_cache/